body {
  text-align: center;
  background-color: #0000a8;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: white;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ff0000;
  border: 10px solid white;
}

.green {
  background-color: #008000;
  border: 10px solid white;
}

.blue {
  background-color: #0000ff;
  border: 10px solid white;
}

.yellow {
  background-color: #ffa500;
  border: 10px solid white;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
